@if (subDescription && subDescription !== null && subDescription !== undefined) {
  <img class="image_1" src="assets/images/image2.png" alt="">
  <img class="image_2" src="assets/images/image2.png" alt="">

  <section class="asesorias-integrales">
    <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown-icon_1">
    <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown-icon_2">
      <div class="title">
        <h1> {{titleDescription}} </h1>
        <img src="assets/icons/Line.png" alt="">
        <p> {{description}} </p>
      </div>
      <div class="content">
        <div class="image-container">
          <img [src]="image" alt="Asesoría" />
        </div>
        <div class="text-container">
          <h3> {{subTitleDescription}} </h3>
          <div [innerHTML]="subDescription"></div>
          @if (videoUrl) {
            <div class="video-btn-container">
              <a [href]="videoUrl" target="_blank" rel="noopener noreferrer" class="custom_button">
                <span class="button_text">Ver video</span>
                <svg class="button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M8 5v14l11-7z"/>
                </svg>
              </a>
            </div>
          }
        </div>
      </div>
      @if (features && features.length > 0) {
        <div class="features-grid">
          <div *ngFor="let feature of features" class="feature-card">
            <div class="feature-card-inner">
              <div class="feature-front">
                <img [src]="feature.Icon" [alt]="feature.Title">
                <h3>{{ feature.Title }}</h3>
              </div>
              <div class="feature-back">
                <h3>{{ feature.Title }}</h3>
                <p>{{ feature.Text }}</p>
              </div>
            </div>
          </div>
        </div>
      }
    </section>
}