<div class="contact_information">
    <h2 class="title">¡Contáctanos!</h2>

    <div class="text">
        <p> {{text}} </p>
    </div>

    <div class="content_contact" id="content_contact">
        @for (meanContact of meansContact; track $index) {
            <div class="row_info row">
                @for (meansContact1 of meanContact.MeansContact1; track $index) {
                    <div class="content_info col-6">
                        <div class="icon_circle">
                            <img [src]="meansContact1.img" alt="">
                        </div>
                        <p>{{meansContact1.text}}</p>
                        <p class="info">{{meansContact1.info}}</p>
                    </div>
                }
                @for (meansContact2 of meanContact.MeansContact2; track $index) {
                    <div class="content_info col-6">
                        <div class="icon_circle">
                            <img [src]="meansContact2.img" alt="">
                        </div>
                        <p>{{meansContact2.text}}</p>
                        <p class="info">{{meansContact2.info}}</p>
                    </div>
                }
            </div>
        }
    </div>
</div>
