<div class="ability">
    <h3> {{subTitle}} </h3>
    <h2> {{title}} </h2>
    <img class="line" src="assets/icons/Line.png" alt="line">
    <div *ngFor="let group of groupedAbilities" class="section_card">
      <div *ngFor="let ability of group" class="flip_card">
        <div class="flip_card_inner">
          <div class="flip_card_front">
            <img class="icon" [src]="ability.frontImage" alt="{{ ability.title }}">
            <p class="title">{{ ability.title }}</p>
          </div>
          <div class="flip_card_back">
            <img class="icon" [src]="ability.frontImage" alt="{{ ability.title }}">
            <p class="title margin">{{ ability.title }}</p>
            <p>{{ ability.description.join(', ') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  