<section class="mision-vision">
  <div class="mv-container">
    <div class="video-wrapper" #videoWrapper>
      <iframe
        #videoIframe
        [src]="safeVideoUrl"
        title="ETL Soluciones"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <div class="mv-cards">
      <div class="mv-card">
        <div class="mv-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z"/>
          </svg>
        </div>
        <h3>{{ misionTitle }}</h3>
        <p>{{ misionText }}</p>
      </div>

      <div class="mv-card">
        <div class="mv-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
        </div>
        <h3>{{ visionTitle }}</h3>
        <p>{{ visionText }}</p>
      </div>
    </div>
  </div>
</section>
