.products{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.products .title {
    width: 70%;
    margin: auto;
}

.products .title h2{
    color: var(--pure_primary_color);
    text-align: center;
    font-weight: var(--font_weight_extra-bold);
    font-size: 2.5rem;
}

.products .text{
    color: var(--text_color);
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 50px;
} 

.products .components{
    background: var(--background_form);
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box_shadow);
}

.products .components .product{
    width: 18%;
    background: var(--card_color);
    border-radius: 40px;
    box-shadow: var(--box_shadow);
}

.products .components .product:first-child{
    margin-left: 0px;
}

.products .components .product.active{
    width: 40%;
    background: var(--withe);
}

.products .components .product .content_info{
    padding: 30px;
}

.products .components .product .content_info .info .title_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
}

.products .components .product .content_info .info .title_info h3{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text_color);
    font-size: 1.5rem;
    font-weight: var(--font_weight_semi_bold);
}

.products .components .product .content_info .info .title_info .icon{
    text-align: center;
}

.products .components .product .content_info .info .title_info .icon img{
    width: 38px;
}

.products .components .product .content_info .info .body_info .text_info{
    height: 10vh;
    overflow: hidden;
    width: 80%;
}

.products .components .product .content_info .info .body_info .text_info p{
    color: var(--text_color);
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom_button{
    margin-top: 50px;
}

@media only screen and (max-width: 1700px) {
    .products .components{
        width: 80%;
    }

    .products .components .product .custom_button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products .components .product.active .custom_button{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .products .components .product .custom_button .button_text{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
    }

    .products .components .product.active .custom_button .button_text{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
    .products .components{
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        border-radius: 20px;

    }
    .products .components .product{
        border-radius: 20px;
    }
    .products .components .product.active,
    .products .components .product{
        width: calc(100vw - 100px);
        margin-bottom: 20px;
        background-color: var(--background_form);
    }
    .products .components .product .content_info .info .body_info .text_info{
        height: auto;
    }
    .products .components .product.active .custom_button,
    .products .components .product .custom_button{
        margin-top: 30px;
        width: auto;
        display: inline-flex;
        border-color: none;
    }
    .products .components .product .content_info .info .title_info{
        width: 100%;
        justify-content: space-between;
    }
    .products .components .product .content_info .info .title_info .icon{
        text-align: right;
    }
    .products .title {
        width: 75%;
    }
    .products .text{
        width: 75%;
        margin-bottom: 30px;
    }
}