<app-services 
    [title]="title" 
    [subTitle]="subTitle" 
    [imageTitle]="imageTitle"
    [titleDescription]="titleDescription"
    [description]="description"
    [image]="image"
    [subTitleDescription]="subTitleDescription"
    [subDescription]="subDescription"
    [titleContact]="titleContact"
    [textContact]="textContact"
    [imageContact]="imageContact"
></app-services>

<app-question
    [title]="titleQuestion"
    [text]="textQuestion"
    [benefits]="itemsQuestion"
    [image]="imageQuestion"
></app-question>

<app-numbers
    [title]="titleNumbers"
    [text]="textNumber"
    [steps]="itemsNumber"
></app-numbers>

<app-accordion
    [title]="titleAccordion"
    [text]="textAccordion"
    [image]="imgAccordion"
    [tabs]="itemsAccordion"
></app-accordion>