<section class="stats-container">
    <div class="stats-header">
      <p class="stats-description">
        ETL Soluciones es el aliado tecnológico de confianza para organizaciones que exigen
        <span class="stats-highlight">calidad, seguridad y excelencia operativa.</span>
      </p>
      <div class="certifications">
        <img src="assets/icons/Sello-ICONTEC_ISO-IEC-27001.png" alt="ICONTEC ISO/IEC 27001" class="cert-icon" />
        <img src="assets/icons/Sello-ICONTEC_ISO-9001.png" alt="ICONTEC ISO 9001" class="cert-icon" />
        <img src="assets/icons/CERT_IQNET.png" alt="IQNET Certified Management System" class="cert-icon" />
      </div>
    </div>
    <div class="stats-counters">
      <div class="stat-item">
        <h2 #counter1 class="count">0+</h2>
        <p>Proyectos Completados</p>
      </div>
      <div class="stat-item">
        <h2 #counter2 class="count">0</h2>
        <p>Casos de soporte atendidos</p>
      </div>
      <div class="stat-item">
        <h2 #counter3 class="count">0+</h2>
        <p>Años de experiencia</p>
      </div>
      <div class="stat-item">
        <h2 #counter4 class="count">0+</h2>
        <p>Proyectos TI implementados</p>
      </div>
    </div>
  </section>
  