<section class="stats-container">
    <div class="stat-item">
      <h2 #counter1 class="count">0+</h2>
      <p>Proyectos Completados</p>
    </div>
    <div class="stat-item">
      <h2 #counter2 class="count">0</h2>
      <p>Casos de soporte atendidos</p>
    </div>
    <div class="stat-item">
      <h2 #counter3 class="count">0+</h2>
      <p>Años de experiencia</p>
    </div>
    <div class="stat-item">
      <h2 #counter4 class="count">0+</h2>
      <p>Proyectos TI implementados</p>
    </div>
  </section>
  