<div class="galleria-container">
  <div id="carouselExampleIntervalInfo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div [class]="'carousel-item' + (i === 0 ? ' active' : '')" data-bs-interval="3000" *ngFor="let service of services; let i = index">
        <img [src]="service.image" class="d-block w-100" [alt]="service.title" class="service-image">
          <div class="service-text">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalInfo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalInfo" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>