.galleria-container {
    width: 100%;
    height: 80vh;
    background: var(--background_color);
    margin-top: 30px;
    position: relative;
    box-shadow: var(--box-shadow_two_sides);
    border-radius: 50px;
    overflow: hidden;
  }
  
  .service-item {
    position: relative;
    /* width: 100%; */
    height: 80vh;
  }
  
  .service-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 50px 50px 0 0;
  }
  
  .service-text {
    position: absolute;
    top: 45%;
    left: 50%;
    color: var(--pure_white);
    padding: 10px 20px;
    border-radius: 5px;
    width: 40%;
    transform: translateY(-50%);
  }
  
  .service-text h3 {
    margin: 0 0 10px 0;
    font-size: 2.5rem;
    font-weight: var(--font_weight_semi_bold);
  }
  
  .service-text p {
    margin: 0;
    font-size: 1.1rem;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
        transform: translateY(-50%);

  }

  @media only screen and (max-width: 1200px){
    .service-text {
      text-align: center;
      transform: translate(-50%, -50%);
    }
    .service-text{
      width: 60%;
    }
    .service-image{
      border-radius: 20px 20px 0 0;
    }
  }