<div class="contain" id="welcome">
    <div class="contain_text">
        <h1 class="main_text"> {{Title}} </h1>
        <h2 class="sub_text"> {{SubTitle}} </h2>
        <p class="description_text"> {{Text}} </p>
        <button class="custom_button" (click)="scrollToCarousel()">
            <span class="button_text">Ver más</span>
            <img src="./assets/icons/arrow_icon.png" alt="Arrow Icon" class="button_icon">
        </button>
    </div>
    <div class="contai_image">
        <img src="./assets/images/main_img.png" alt="Main Image" class="main_img">
        <img src="./assets/images/wave.png" alt="wave" class="wave">
        <img src="./assets/images/piece_1.png" alt="piece" class="piece_1">
        <img src="./assets/images/piece_2.png" alt="piece" class="piece_2">
        <img src="./assets/images/piece_3.png" alt="piece" class="piece_3">    
    </div>
</div>