.contain {
    width: calc(100% - 200px);
    min-height: 90vh;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.contain_text {
    max-width: 40%;
    text-align: left;
    padding: 40px 0px;
}

.contain_image {
    max-width: 60%;
}

.main_text {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    background: var(--gradient_box_primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: var(--font_weight_extra_bold);

}

.sub_text {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--text_color);
    font-weight: var(--font_weight_semi_bold);
}

.description_text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--text_color);
    font-weight: var(--font_weight_regular);
}

.main_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 100%;
    z-index: 2;
    
}

.wave {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.piece_1,
.piece_2,
.piece_3 {
    position: absolute;
    width: 10%;
    z-index: 3;
}

.piece_1 {
    top: 5%;
    right: 35%;
    animation: flotar 2.5s ease-in-out infinite;
}

.piece_2 {
    bottom: 20%;
    right: 5%;
    animation: flotar 3.5s ease-in-out infinite 0.5s;
}

.piece_3 {
    bottom: 13%;
    right: 45%;
    animation: flotar 3s ease-in-out infinite 1s;
}

.custom_button:hover{
    margin-left: 3px;
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-24px) rotate(2deg);
    }
}

@media only screen and (max-width: 1200px) {
    .contain {
        width: calc(100vw - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .wave {
        display: none;
    }

    .contain_text {
        text-align: center;
        max-width: 90%;
    }
    .main_img {
        position: relative;
        width: 65%;
        margin: 0 auto;
    }

    .contai_image {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .piece_1,
    .piece_2,
    .piece_3 {
        position: absolute;
        width: 120px;
        z-index: 3;
    }
    .piece_1 {
        top: 55%;
        left: 10%;
    }
    
    .piece_2 {
        bottom: 3%;
        right: 12%;
    }
    
    .piece_3 {
        bottom: 30%;
        right: 10%;
    }
}
@media only screen and (max-width: 600px) {
    .piece_1,
    .piece_2,
    .piece_3 {
        display: none;
    }
    .main_text{
        font-size: 3rem;
    }
}