<div class="sub_footer">
    <div class="content_footer">
        <div class="content_info">
            <div class="logo">
                <img [src]="logo" alt="">
            </div>
            
            <div class="text">
                <p>{{text1}}</p>
            </div>
            
            <div class="social_networks">
                <div class="link_social_networks" *ngFor="let socialNetwork of socialNetworks">
                    <a href={{socialNetwork.Url}}>
                        <img src={{socialNetwork.img}} alt={{socialNetwork.name}}>
                    </a>
                </div>
            </div>
        </div>
        <div class="content_menu_footer">
            <h2 class="title_menu"> {{title1}} </h2>
            <nav>
                <div class="content-menu">
                    <ul class="menu-items">
                        <li class="item" *ngFor="let item of menuFooter">
                            <a (click)="scrollToSection(item)" routerLinkActive="router-link-active"> {{item}} </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content_image">
            <img [src]= img alt="">
        </div>
    </div>
    <div class="content_copyright">
        <p class="copyright" [innerHTML]="text2"></p>
        <button class="cookie-settings-btn" (click)="openCookieSettings()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="14" height="14" aria-hidden="true">
            <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8zm-1-5a1 1 0 1 1-1-1 1 1 0 0 1 1 1zm4-4a1 1 0 1 1-1-1 1 1 0 0 1 1 1zm-7 1a1 1 0 1 1-1-1 1 1 0 0 1 1 1z"/>
          </svg>
          Preferencias de cookies
        </button>
    </div>
</div>
