<div class="process-container">
  <img class="piece" src="assets/images/piece_3.png" alt="">
  <h2> {{title}} </h2>
  <img class="line" src="assets/icons/Line.png" alt="">
  <p class="description">
    {{text}}
  </p>

  <div class="steps-grid">
    <div *ngFor="let step of steps;  index as index" class="step-card">
      <div class="step-number">{{ index+1 }}</div>
      <div class="step-content">
        <h3>{{ step.Title }}</h3>
        <p>{{ step.Text }}</p>
      </div>
    </div>
  </div>
</div>