<app-title-product 
    [title]="title" 
    [subTitle]="subTitle" 
    [imageTitle]="imageTitle"
></app-title-product>

<app-description-product    
    [titleDescription]="titleDescription"
    [description]="description"
    [image]="image"
    [subTitleDescription]="subTitleDescription"
    [subDescription]="subDescription"
></app-description-product>

<app-contact-product
    [titleContact]="titleContact"
    [textContact]="textContact"
    [imageContact]="imageContact"
></app-contact-product>
